*{
    margin: 0;
    padding:0;
}

.wrapper{
    width: 100%;    
    background-color:darkslategray;
    display: flex; 
    justify-content: center;
}

.inner {
    /* max-width: 100%;     */    
    display: inline-flex;    
}
.game-text {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    width:100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    left: 0;
    top:0;
    color: #fff;
    font-size: 50px;
}

.game-text > button{
    background: salmon;
    color: white;
    border: none;
    cursor: pointer;
}

/* playground */
#playground{    
    max-width: 250px;
    margin: 0 auto;
    box-sizing: border-box;
    border-collapse: collapse;
    background-color: white;
    border: 10px solid #333;  
}

#playground > tbody > tr {    
    display: flex;
    width: 100%;
    height: 25px;
    box-sizing: border-box;    
    border-bottom: 1px solid #333;
    /* background-color: crimson; */
}

#playground > tbody > tr:last-of-type{
    border-bottom: none;
}

#playground > tbody > tr > td {    
    width: 25px;
    height: 100%;
    /* background-color:darkgreen; */
    border-right: 1px solid #333;
}

#playground > tbody > tr > td:last-of-type{
    border-right: none;
}

/* right display */
.inner-right{    
    max-width: 200px;
    margin-left:10px;    
}

.scoreBox, .levelBox, .shapeBox {
    border: 5px solid #333;
    box-sizing: border-box;
    background-color: #fff;
    padding: 5px;
}

.scoreBox > h2, .levelBox > h2, .shapeBox > h2{
    text-align:center;
    font-size: 24px;
}

.scoreBox > .score, .levelBox > .level, .shapeBox > .shape{
    text-align: center;
    font-size: 24px;    
}


/* game item shape */
.tree {
    background-color: yellowgreen;    
}

.square {
    background-color:darkorchid; 
}

.line{
    background-color: darksalmon;    
}
.elLeft{
    background-color:deepskyblue ;    
}
.elRight{
    background-color:deepskyblue ;    
}
.zee{
    background-color:brown; 
}